* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    height: 550px; /* ou a altura desejada */
}
.carousel-item {
    text-align: center;
}
p {
    font-size: 25px;
    color: #fa0425;
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
}
h5 {
    font-size: 32px;
    font-weight: bold;
    color: #0000ff;
}